@charset "utf-8";

#header {
	background: #fff;
	min-height: 150px;
}

#toplogo {
	float: left;
	margin-top: 20px;
	margin-left: 50px;
}

#quicksearch {
	background: #c6e99c;
	border-radius: 6px;
	border: #5aa500 1px solid;
	float: left;
	width: 450px;
	margin-top: 20px;
	margin-left: 50px;
}

#quicksearch form {
	line-height: 40px;
}

#welcome {
	float: left;
	margin: 10px;
}