@charset "utf-8";

#mainmenu ul {
	border: 1px solid black;
	background: #9FDA58 url(../image/menuitem.png) 50% 50% repeat-x; 
	height: 30px;
	margin: 15px 0 15px 0;
}

#mainmenu li {
	line-height: 30px; /*to be able to be aligned vertically*/
	width: 150px;
	text-align: center;
	vertical-align: middle;
	float: right;
	font-weight: bold;
}

#mainmenu a {
	display: block;
	color: #B8EC79;
}

#mainmenu a:link,active,visit {
	color: ##B8EC79;
}

#mainmenu a:hover {
	color: #fff;
}