@charset "utf-8";

.notemsg {
	color: red;
}

.ajaxDemoLink {
	font-weight: bold;
}

.ajaxDemoLink:hover {
	text-decoration: underline;
}

#ajaxProductDemo img {
	height: 100%;
	width: auto;
}

#ajaxProductDemo {
	width: 100%;
	height: 300px;
	text-align: center;
	vertical-align: middle;
}

body {
	background: #ddd url("../image/phpThumb_generated_thumbnailpng.png");
	font: 85% Arial, Helvetica, sans-serif;
	margin: 0 0 0 0; /* separated to the top line*/
	padding: 0;
	text-align: center;
	color: #000000;
}

a {
	text-decoration: none;
}

span.reference {
	position: fixed;
	left: 10px;
	bottom: 10px;
	font-size: 12px;
}

span.reference a {
	color: #666;
	text-shadow: 1px 1px 1px #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 30px;
}

span.reference a:hover {
	color: #333;
}

.slidecontent {
	width: 700px;
	margin: 0 auto;
}

.msg_slideshow {
	margin: 0 auto;
}

a.back {
	background: transparent url(back.png) no-repeat top left;
	height: 13px;
	width: 248px;
	display: block;
	clear: both;
	text-indent: -9000px;
	margin: 20px auto;
}

a.back:hover {
	background-position: 0px -13px;
}

#bodywrap {
	background: #fff;
}

#container {
	background: #fff;
	width: 1100px;
	margin: 0 auto;
	text-align: left;
	border-left: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-left: 5px;
	padding-right: 5px;
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

.product_table {
	border: solid 1px;
}

.product_table td {
	border: 1px dashed;
	padding: 5px;
}

.mybutton {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #3d62b9;
	border: 1px solid /*#33cc33*/;
	border-left-color: #06266f;
	border-bottom-color: #06266f;
	border-top-color: #6c8cd5;
	border-right-color: #6c8cd5;
	color: #e0e0e0;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.mybutton:hover {
	background-color: #6c8cd5;
	color: #fff;
}

.mybutton:active {
	border-left-color: #6c8cd5;
	border-bottom-color: #6c8cd5;
	border-top-color: #06266f;
	border-right-color: #06266f;
	padding-left: 8px;
}

.info_table td {
	border-bottom: 1px dashed;
}

#mainContent { /* temporary section for dreamweaver template issue */
	
}

.thumbpitem {
	float: left;
	width: 125px;
	margin: 0px 17px 15px 17px;
}

.thumbpitem_img_con {
	height: 110px;
	width: 120px;
	margin-top: 10px;
	border: #cccccc 1px solid;
}

.thumbpitem_img_con_inner {
	border: white 1px solid;
	height: 108px;
	width: 118px;
	overflow: hidden;
}

.thumbpitem_img {
	height: 108px;
	width: 118px;
	display: table;
	overflow: hidden;
}

.thumbpitem_title {
	margin-top: 8px;
	size: 10px;
}

.contentframe {
	border: #003783 1px solid;
}

.captionbox {
	background: #c5d5eb;
	color: #000;
	font-weight: bold;
	vertical-align: middle;
	line-height: 27px;
	border-bottom: #a1b8d8 1px solid;
}

.content {
	margin: 10px;
	line-height: 145%;
}

.line {
	margin: 2px;
	float: right;
	width: 2px;
	height: 25px;
	background: url(../image/header-bluebar.gif) no-repeat;
	display: inline-block;
}

#footer {
	padding: 0 10px;
	background: #c6e99c;
	border-left: #5aa500 1px solid;
	border-right: #5aa500 1px solid;
	border-top: #5aa500 1px solid;
	margin-top: 5px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

#footer p {
	margin: 0;
	padding: 10px 0;
	color: #000;
}

.vertlist {
	margin: 0;
	padding: 0;
}

.vertlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.horzlist {
	margin: 0;
	padding: 0;
}

.horzlist li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left; /* default direction to float*/
}

.bl { /*background: url(../image/bl_corner.png) 0 100% no-repeat;*/
	
}

.br { /*background: url(../image/br_corner.png) 100% 100% no-repeat;*/
	
}

.tl { /*background: url(../image/tl_corner.png) 0 0 no-repeat;*/
	
}

.tr { /*background: url(../image/tr_corner.png) 100% 0 no-repeat;*/
	padding: 10px;
}