@charset "utf-8";

#userpanel {
	background-color: #c6e99c;
	margin-bottom: 5px;
	line-height: 35px;
	vertical-align: middle;
	border-left: #5aa500 1px solid;
	border-right: #5aa500 1px solid;
	border-bottom: #5aa500 1px solid;
	color: #000000;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

#userlocations a:hover {
	color: #fff;
}

#displayname {
	padding-left: 5px;
	display: inline;
}

#displayname a {
	font-weight: bold;
	color: #fff;
}

#userlocations {
	display: inline;
}

#userlocations a {
	text-transform: uppercase;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	color: inherit;
}

#homebutton {
	display: inline;
	float: right;
}